{% extends "partials/base.html" %}
{% block title%} Order Page {% endblock %}

{% block content %}
{% include 'partials/topnav.html' %}
<div class = "container">
  <div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Odered by</th>
                    <th scope="col">Date</th>
                    <th scope="col">Activity</th>


                </tr>
            </thead>
            <tbody>
              {% for orders in orders %}
              {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                <tr>
                    <td>{{orders.product}}</td>
                    <td>{{orders.product.category}}</td>
                    <td>{{orders.order_quantity}}</td>
                    <td>{{orders.staff.username}}</td>
                    <td>{{orders.date}}</td>
                    <td>
                    
                        <a class="btn btn-info btn-sm mr-2" href="">Approve</a>

                            <br>
                        <a class="btn btn-danger btn-sm ml-2"
                            href="{%url 'dashboard-order-cancel' orders.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
            <form method="post" action="{% url 'export_data_to_excel' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Export Excel File</button>
            </form>
    </div>
 </div>
</div>
{% endblock%}